body{
  background-color: black;
}
/*navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}


.navbar{
  background-color: black;
}
.homeb:hover{
  background-color:#FF00FF;
}
.aboutb:hover{
  background-color:#00FF33;
}
.actionb:hover{
  background-color:#099FFF;
}
.intro{
  background-color: black;
}
.container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 600px 500px; 
        grid-template-rows: 200px;
        grid-column-gap: -50px;
      }
      .item2{
        
        margin-top:20px;
      }
      .item1 .no{
        margin-top: -50px;
        background:black;
        font-family: 'Prompt', sans-serif;
        font-size: 350px;
        color: #FFFF00;
        margin-bottom:0;
        padding-right: 0px;
       
      }
      .item1 .million{
        margin-top:-160px;
        background:black;
        font-family: 'Prompt', sans-serif;
        font-size: 175px;
        color: #FFFF00;
      }
.item2 .line{
margin-left: 5px;
margin-top: 55px;
      background:black;
        font-family: 'Prompt', sans-serif;
        font-size: 100px;
        color: white;
        margin-bottom:0;
        line-height:95px;
}
.contentLink{
  text-decoration: none;
  color:rgb(199, 248, 244);
  letter-spacing: 2px;
  font-family: 'Prompt', sans-serif;
}

.contentLink:hover{
  color: #FF00FF;
  font-family: 'Prompt', sans-serif;
}
.paragraph{
  color:white;
  margin-top: 400px;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
}
.paragraph2{
  color:white;
  margin-top: 250px;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
}
.paragraph3{
  color:white;
  
  margin-top: 80px;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
}
.paragraph4{
  color:white;
  margin-top: 40px;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
  margin-left: 50px;
}
.paragraph5{
  color:white;
  
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
  margin-left: 0px;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-left: 450px;
  margin-right: 100px;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  
  color:#00FF33;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 100px;
  margin-left: 380px;
  text-decoration: none;
}
.text1 {
  
  color: #FF00FF;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 100px;
  margin-left: 380px;
  text-decoration: none;
}
/*factgenerator*/
.genFact {
  background: black;
  

  padding: 15px;

  margin-top: 300px;
  

  font-family: 'Prompt', sans-serif;
  font-size: 30px;
  text-align: center;
  
  color: white;
}

#fact {
  border-style: none;

  padding: 15px;

  margin-top: 30px;
  

  font-family: 'Prompt', sans-serif;
  font-size: 28px;
  text-align: center;
  
  color: white;

}
#factBtn {
  background: black;
  border-color:white;
  border-radius: 10px;

  padding: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
font-family: 'Prompt', sans-serif;
  color: #ffffff;
  font-size: 30px;
}
#factBtn:hover{
background: #099FFF;
}
.attribution {
  font-size: 17px;
  text-align: center;
  color: white;
  padding-top: 10px;
  font-family: 'Prompt', sans-serif;
  
}
/*personalisation forms*/
#parent {
   display: table;
   width: 100%;
}
#formlogin {
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    margin-left: 60px;
    font-family: 'Prompt', sans-serif;
}
.formbutton{
  width: 280px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 28px;
    font-family: 'Prompt', sans-serif;
    background-color: black;
    font-size: 20px;
    color: white;
}
.formbutton:hover{

    background-color: #099FFF;
    
}

    select {
        width: 200px;
        margin: 10px;
        background-color: white;
        font-family: 'Prompt', sans-serif;
    }
  .heading{
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  color:#FF00FF;
  text-align: middle;
  }
  .heading2{
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  color:#099FFF;
  text-align: middle;
  }

#parent1{
   display: table;
   width: 100%;
}

#formlogin1{
    width: 300px;
    margin: 0 auto;
    margin-top: -20px;
    margin-left:650px;
    font-family: 'Prompt', sans-serif;
}
.formbutton1{
  width: 280px;
    margin: 0 auto;
   margin-top: 0px;
    margin-left:620px;
    font-family: 'Prompt', sans-serif;
    background-color: black;
    font-size: 20px;
    color: white;
}
.formbutton1:hover{

    background-color: #099FFF;
    
}

select1{
        width: 200px;
        margin: 10px;
        background-color: white;
        font-family: 'Prompt', sans-serif;
    }
#demo{
      color:white;
  }